@font-face {
    font-family: "LigaHack Nerd Font";
    src: url("/fonts/LigaHackNerdFont-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "LigaHack Nerd Font";
    src: url("/fonts/LigaHackNerdFont-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "LigaHack Nerd Font";
    src: url("/fonts/LigaHackNerdFont-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "LigaHack Nerd Font";
    src: url("/fonts/LigaHackNerdFont-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1a1b26;
}

#terminal {
    width: 100%;
    height: 100%;
}
